
.criteria-container {
    max-width: 1080px;
    margin: auto;
}

.criteria-content-heading{
    color: var(--clr-purple-light);
    font-size: 22px;
    font-weight: 600;
    padding-top: 1.9rem;
    font-family: var(--ff-style);

}
#top-head{
    padding-top: 0rem;
}
#top-para{
    padding-top: 1.2rem;
}
.criteria-content p{
    font-family: var(--fs-text);
    text-align: left;
    padding-top: 0.65rem;
    color: var(--clr-text);
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
}
.criteria-content-heading span{
    color: var(--clr-text);
}
@media only screen and (max-width: 448px) {

    .criteria-content-heading{
        font-size: var(--fs-text);    
    }

    .criteria-content p{
        font-size: var(--fs-regular);
    }
    
}