:root {
  --clr-main-bg: #000;
  --clr-text: #fff;
  --clr-purple-light : #D815FF;
  --clr-purple-dark : #AE0BCF;
  --clr-blue-light : #2BBCFF;    
  --clr-blue-dark : #2F03AA;


  --ff-header: 'Orbitron', sans-serif;
  --ff-regular: 'Montserrat', sans-serif;

  --fs-hero-header: 48px;
  --fs-header: 42px;
  --fs-sub-header: 22px;
  --fs-para: 18px;
  --fs-regular: 14px;
  --fs-icon: 36px;
  --fs-small-icon: 24px;

  --fw-200: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 700;
  --fw-bolder: 900;

  --gen-padding: 24px 40px;

  --gen-transition: 0.2s ease-in-out;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: lightgray;
}

::-webkit-scrollbar-thumb {
  background: #0089ff;
  border-radius: 6px;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

button {
  background-color: none;
  border: 0;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-regular);
  background-color: var(--clr-main-bg);
}


/* All section  */

.section {
  margin-block: 2rem;
}

/* All container */

.container {
  padding-inline: 64px;
}