:root {
  --clr-main-bg: #000;
  --clr-text: #fff;
  --clr-purple-light: #d815ff;
  --clr-purple-dark: #ae0bcf;
  --clr-blue-light: #2bbcff;
  --clr-blue-dark: #2f03aa;

  --clr-text-light: rgba(255, 255, 255, 0.8);
  --clr-black-light: #1d1d1d;

  --ff-style: "Orbitron", sans-serif;
  --ff-regular: "Montserrat", sans-serif;

  --fs-hero-header: 48px;
  --fs-header: 42px;
  --fs-title-text: 20px;
  --fs-text: 16px;
  --fs-regular: 14px;
  --fs-icon: 36px;
  --fs-small-icon: 24px;

  --fw-200: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 700;
  --fw-bolder: 900;

  --gen-padding: 24px 40px;

  --gen-transition: 0.2s ease-in-out;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* background-color: var(--clr-black-light); */
}

.page-wrapper {
  width: 100%;
  height: auto;
}

.navbar-container {
  padding: 16px 24px;
}

.nav-wrapper {
  width: 100%;
}

/* NAVIGATION */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.navbar img {
  height: 25px;
  width: auto;
  justify-self: start;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 8px;
}

.nav-item {
  padding-inline: 5px;
  text-align: center;
}

.nav-item a {
  color: var(--clr-text);
  font-size: var(--fs-regular);
  font-weight: var(--fw-regular);
  text-decoration: none;
  transition: all 0.3s ease-out;

  background-image: linear-gradient(var(--clr-text), var(--clr-text));
  background-size: 0 2px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.nav-item a:hover {
  color: var(--clr-text-light);
  background-size: 100% 2px, auto;
}

/* Color change on scroll  */

.navbar-section.scrolled {
  background-color: var(--clr-black-light) !important;
  transition: background-color 200ms linear;
  z-index: 100;
}

.vertical__line{
  width: 2px;
  height: 25vh;
  background: linear-gradient( 180deg, var(--clr-blue-light), var(--clr-purple-light) );;
  z-index: 800;
  top: 50%;
  margin-left: 2.25%;
  position: fixed;
  display: block;
}
nav.nav__b{
  /* background: rgba(254, 254, 254, 0.1); */
  width: max-content;
  display: block;
  padding: 0.7rem;
  z-index: 801;
  position: fixed;
  left: 1%;
  /* transform: translateX(0%); */
  bottom: 1rem;
  display: flex;
  flex-direction: column;
  /* border-bottom: 2px solid rgba(254, 254, 254, 0.5); */
  gap: 32px;
  border-radius: 3rem;
  /* backdrop-filter: blur(15px); */
}
nav.nav__b a{
  background: #000;
  font-size: 24px;
  /* padding: 0.9rem; */
  /* border-radius: 50%; */
  display: flex;
  color: var(--clr-blue-light);
  /* border-bottom: 2px solid rgba(254, 254, 254, 0.5); */
  font-size: 1.1rem;
  /* backdrop-filter: blur(15px); */
}

nav.nav__b a:hover{
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
}
nav.nav__b a.Linkedin:hover{
  background: rgba(0, 0, 0, 0.3);
  color: #0077b5;
}
nav.nav__b a.Discord:hover{
  background: rgba(0, 0, 0, 0.3);
  color: #7289da;
}
nav.nav__b a:active {
  background: #191919;
  color: #fff;
}
/* SEARCH FUNCTION */

.no-search {
  transform: translate(0);
  transition: transform 0.7s ease-in-out;
}

/* MOBILE MENU & ANIMATION */

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: var(--clr-purple-light);
  border-radius: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu-toggle .bar:nth-child(2) {
  background-color: var(--clr-blue-light);
}

.menu-toggle {
  justify-self: end;
  display: none;
}

.menu-toggle:hover {
  cursor: pointer;
}

#mobile-menu.is-active .bar:nth-child(2) {
  opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -o-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}

/* Media Queries */

/* Mobile Devices - Phones/Tablets */

@media only screen and (max-width: 768px) {
  /* MOBILE NAVIGATION */

  .navbar ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: start;
    top: 55px;
    left: 0;
    background-color: var(--clr-main-bg);
    width: 100%;
    height: calc(100vh - 55px);
    transform: translate(-101%);
    text-align: center;
    overflow: hidden;
  }

  .navbar li {
    padding: 15px;
  }

  .navbar li:first-child {
    margin-top: 50px;
  }

  .navbar li a {
    font-size: 1rem;
  }

  .menu-toggle,
  .bar {
    display: block;
    cursor: pointer;
  }

  .mobile-nav {
    transform: translate(0%) !important;
  }
}
