.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3rem;
  color: white;
  justify-content: center;
}

.project-card {
  /* padding: 24px; */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 24px; */
  border: 2.5px solid transparent;
  border-radius: 16px 0 0 0;
  background-image: linear-gradient(var(--clr-main-bg), var(--clr-main-bg)),
    linear-gradient(135deg, var(--clr-blue-light), var(--clr-purple-light));
  background-origin: border-box;
  background-clip: content-box, border-box;
  width: 100%;
  max-width: 350px;
  margin-inline: auto;
}

.project-card p{
  width: 90%;
  text-transform: capitalize;
}
.project-card img{
  padding: 0;
  width: 80%;
  border: 3px solid var(--clr-blue-light);
  border-radius: 16px 0 0 0;
 
}

.project-card > * {
  padding: 24px;
}

.project-card .btn-primary {
  min-width: max-content;
}
